@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --shimmer-background: #e5e7eb;

  --shimmer-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 40%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

[data-theme="dark"] {
  --shimmer-background: #1f2937;
}

[data-theme="dark"] {
  --shimmer-gradient: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0.1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

@layer utilities {
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  .animate-slideDown {
    animation: slideDown 0.2s ease-out forwards;
  }

  .animate-slideUp {
    animation: slideUp 0.2s ease-out forwards;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .shimmer {
    background: var(--shimmer-gradient);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  .details-shimmer {
    position: relative;
    overflow: hidden;
    background: var(--shimmer-background);
  }

  .details-shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--shimmer-gradient);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
}

@layer base {
  .bg-base-classes {
    @apply bg-white dark:bg-gray-950;
  }
  .containerizing {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (width >= 40rem /* 640px */) {
      max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
      max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
      max-width: 64rem /* 1024px */;
    }

    @media (width >= 78rem /* 1250px */) {
      max-width: 80rem /* 1280px */;
    }
    @media (width >= 96rem /* 1536px */) {
      max-width: 96rem /* 1536px */;
    }
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #9ca3af #00000000;
}

html[data-theme="dark"] {
  scrollbar-color: #4b5563 #00000000;
}

.custom-blur {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
